<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title">MESSAGES LIST</span>
                    <!--<button class="btn btn-success float-end" routerLink="/create-user">NEW USER</button> -->
                    <table *ngIf="listMessages.length > 0" class="table table-striped mt-3">
                     <thead>
                       <tr>
                         <th scope="col">ID</th>
                         <th scope="col">Message</th>
                         <th scope="col">Date</th>
                         <th scope="col">Sender</th>
                         <th scope="col">Activity</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let message of listMessages">
                         <td>{{ message._id }}</td>
                         <td>{{ message.message }}</td>
                         <td>{{ message.sendingDate }}</td>
                         <td>{{ message.sender.username}}</td>
                         <td>{{ message.activity?.name}}</td>
                       </tr>
                     </tbody>
                   </table>
                   <h5 style="text-align: start; margin-top: 10px;" *ngIf="listMessages.length === 0">There are no messages in the database</h5>
                   <div class="mb-3">
                  <button routerLink='/list-activities'class="btn btn-secondary btn-lg float-start">BACK</button>
                </div>
                </div>
            </div>
        </div>
    </div>
 </div>