<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title">ROLES LIST</span>
                    <button class="btn btn-success float-end" routerLink="/create-role">New Role</button>
                    <table *ngIf="listRoles.length > 0" class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let role of listRoles">
                                <td>{{role.name}}</td>                            
                                <td>
<!--                                     <i [routerLink]="['/edit-role', user.name]" class="fa-solid fa-pen-to-square text-primary"></i>
                                    <i (click)="deleteRole(role.name)" class="fa-solid fa-trash text-danger"></i> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px;" *ngIf="listRoles.length === 0">There are no roles yet</h5>
                </div>
            </div>
        </div>
    </div>
</div>
